[submodule "android/app/src/main/cpp/secp256k1"]
	path = android/app/src/main/cpp/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "android/app/src/main/cpp/openssl"]
	path = android/app/src/main/cpp/openssl
	url = https://github.com/bitcoin-core/secp256k1
