linux/
macos/
windows/
web/
build/
.dart_tool/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
pass.txt
commands
.DS_Store
build_log.txt
android/app/src/main/cpp/secp256k1.xcframework
android/app/src/main/cpp/build